
    /* less engine for vesna56.ru
       im@andreystarkov.ru */

    @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic&subset=latin,cyrillic);
    @import "http://webfonts.ru/import/bebasneue.css";
    @import "http://webfonts.ru/import/noto.css";

    @import 'less/config.less';
    @import "less/common.less";

    @import "less/header.less";
    @import "less/nav.less";
    @import "less/news.less";
    @import "less/buttons.less";
    @import "less/elements.less";
    @import "less/box-plan.less";
    @import "less/design.less";
    @import "less/plugins.less";
    @import "less/footer.less";

    #photo {
      .left i, .right i { margin-top: 150%; }
      .carousel {  margin-top: 30px;}
    }

    .nowhere { display: none !important; }
    .step-bottom {
      margin-bottom:1.4em;
    }

    section h3 {
      margin-top: 1.7em;
      font-family: 'Hagin Caps Medium';
      font-size: 45pt;
      color: #51433a;
      text-align: center;
    }

    #sidePanelToggle {
      z-index: 10001 !important;
    }

    #sidePanelToggle .toggle
    {
      border-bottom: 3px solid mix(rgb(207,151,114), #666, 70%) !important;
      box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
      width: 120%;
      border-bottom-right-radius: 8px;
      height: 50px;
      background: rgba(207,151,114,0.9) url('images/toggle.svg') center center no-repeat;

    }

    .ask-question {
      opacity: 0.7;
      z-index: 10001;
      position:fixed; top:0; right: 0;
      display: block;
      background: rgb(243,214,81);
      padding: 5px 18px;
      height: 60px;
      font-weight:500;
      border-bottom: 3px solid mix(rgb(243,214,81), #666, 70%);
      box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
      color: #000;
        font-family: 'Bebas Neue';
      font-size: 1.1em;
      border-bottom-left-radius: 8px;
      transition: 0.6s ease-in-out all;
      i {
        margin-left: 15px;
        font-size: 1em;
      }
      &:hover {
        opacity:1;
        text-decoration: none;
        color: #000;
      }
    }

  .img-responsive {
      span {
        opacity: 0;
        width: 80%;
        font-family: 'Bebas Neue';
        font-size: 1.3em;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
        padding: 12px 23px;
        background: rgba(45,41,39,0.7);
        border-radius: 8px;
        position: absolute;
        top: 45%;
        left: 10%;
        display: blo
      }
      display: block;
      position: relative;
      margin: 1em auto;
      margin-bottom: 1em;
      width: 1260px;
      height: 945px;
      text-align:center;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-transparent {
        padding: 0;
        background: rgba(0,0,0,0);
        border-bottom: 0;
        width: 90%;
        margin: 0 auto;
        position: relative;
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    .box-transparent p {
        font-family: 'Open Sans Condensed';
        font-size: 27pt;
        color: #473c34;
        font-weight: 500;
        font-style: italic;
    }
    .box-transparent .fa {
        font-size: 52pt;
        margin-top: 10px;
    }
    .house-standalone {
        width: 90%;
        display: block;
        position: relative;
        margin: 0 auto;
        opacity: 1;
    }
    .content-slider .item { box-shadow: 0 0 0 rgba(0,0,0,0) }
    .content-slider .carousel-control a { border-bottom: 0 }

      .layer-house { background: url(../images/px/house-1600.png) center bottom; }
      .layer-bg { background: url(../images/px/bg-1600.jpg)  center bottom;  }
    @media only screen and (max-device-width: 1200px) {
        .box-transparent p { font-size: 17px; }
    }
    @media only screen and (max-device-width: 1400px) and (min-device-width: 1000px) {
        .box-transparent p { font-size: 18px; }
       .layer-house { background: url(../images/px/house-1300.png)  center bottom; }
        .layer-bg { background: url(../images/px/house-1300.png)  center bottom; }
    }
    @media only screen and (max-device-width: 960px) {
        .box-transparent p { font-size: 16px; }
     .layer-house { background: url(../images/px/house-1000.png)  center bottom; }
     .layer-bg { background: url(../images/px/house-1000.png)  center bottom; }
    }

    @media only screen and (min-device-width: 1600px) {
      .layer-house { background: url(../images/px/house-1600.png) center bottom; }
      .layer-bg { background: url(../images/px/bg-1600.jpg)  center bottom;  }
    }

