
    .box-info { padding-left: 50; padding-right: 25px;}
    .box-info .icn {  padding-right:0; padding-left:0; font-size: 75pt;
        margin: 0px auto; text-align: center; width: 150px; margin-top:5px; margin-bottom: 15px; position: relative;  }


    .first-sub h1 { font-size: 67px; width: 80%; margin: 5px auto;}
    .first-sub h2 { font-size: 45px; width: 50%; margin: 20px auto; color: #5d534d;}

    #nav ul li a i { font-size: 18pt;}

   .box-info .icn { font-size: 78pt; position: absolute; left: 30px; top: 25%; }

    .header-image { margin-left: -100px;}

	body,input,textarea,select
	{
		font-size: 17pt;
	}

	#header
	{
		width: 330px;
	}

	#footer
	{
		margin-left: 300px;
	}

	#main
	{
		margin-left: 330px;
	}