

    .box-info { }
	    .box-info .icn {  padding-top: 0; padding-right:0; padding-left:0; font-size: 75pt;
	        margin: 0px auto; text-align: center; width: 100%; margin-top:5px; margin-bottom: 15px; position: relative;  }
		.box-info { padding: 1.7em 1.5em 1em 1em !important; }

	       .box-info p { font-size: 18pt !important;
		  font-size: 20pt;  padding-left: 2em; text-indent: 1.5em; padding-top: 0.7em; padding-right: 1em;
		position: relative;	}

    #nav ul li a span {  font-size: 13pt; }
    .botton-send { min-width: 80% !important;}
     .carousel-inner > .item > img {
    max-width:220%;

    min-height: 450px;
    }

    .carousel-control i { margin-top: 170px;}
    .box-info .icn { padding-right: 15px; font-size: 68pt; position: relative; float: left; left: 0px; top: 25px; max-width: 150px; height: 130px; }

	body,input,textarea,select
	{
		font-size: 16pt;
	}

	.container
	{
		padding: 0 2em 0 2em;
	}

	/* Lists */

		ul.icons
		{
		}

			ul.icons li
			{
			}

			ul.icons li a
			{
				width: 1.75em;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	#main
	{
		margin-left: 30%;
	}
	#header
	{
		width: 30%;
	}

	#logo
	{
	}

		#logo .image
		{
			position: relative;
			margin: 0 0 0.5em 0;
		}

	#nav
	{
	}

		#nav ul
		{
		}

			#nav ul li
			{
			}

				#nav ul li a
				{
					font-size: 0.8em;
					padding-top: 0.5em;
					padding-bottom: 0.5em;
				}

					#nav ul li a span
					{
						padding-right: 2.25em;
					}

						#nav ul li a span:before
						{
							left: 100%;
							margin-left: -1.25em;
						}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin-left: 20%;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/


