
    .form-feedback {
        width: 100%;
        height: 250px;
        margin-bottom: 1 0px;
        h1 {
            color: #7e6758;
            font-size: 43px;
            font-family: @header-font;
            margin: 0 auto;
            display: block;
            text-align: center;
            margin-bottom: 0.5em;
        }
        form {
          textarea {
              border: 2px solid rgba( 207, 187, 175, 0.8 );
              border-radius: 5px;
              background-color: rgb( 247, 244, 233 );
              position: relative;
              margin: 0 auto;
              width: 90%;
              font-size: 14px;
              min-height: 6em !important;
          }
        }
    }

    #footer {

        .cell-left, .cell-right {
          float: left; width: 45%; text-align:left;
        }

        .cells { padding-left: 10%; width: 90%; margin:0 auto; }

        a {
          color: rgba(231,223,218,0.5);
          font-family: @subheader-font;
          text-decoration: none;
          float: left;
          font-size: 18px;
          display: block;
          border-bottom: 0px;
          margin: 5px auto;
          margin-right: 25px;
          i {
            margin-right: 10px;
          }
          &:hover {
            color: #f0d246;
            text-decoration: none;
          }
        }

        margin-left: 375px;
        text-align: center;
        background-color: #5d554b;
        padding: 3em 0 4em 0;
        box-shadow: inset 0 10px 50px rgba(0,0,0,0.3), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
        font-size: 1.3em;
        .copyright {
            line-height: 1.5em;
            p {
                font-family: @subheader-font;
                color: rgba(231,223,218,0.5);
                margin: 0 0 1em 0;
            }
            .menu {
                margin: 0;
            }
        }
    }
