AuthUserFile /home/deo/data/passwd/.andreystarkov-dev
AuthType Basic
AuthName "private area"
Require valid-user

# ENABLE INDEXING
Options +Indexes

# INDEX OPTIONS
IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=*

# HIDE /theme DIRECTORY
IndexIgnore .htaccess /theme

AddIcon http://localhost/_/apache-listing/icons/blank.png ^^BLANKICON^^
AddIcon http://localhost/_/apache-listing/icons/folder.png ^^DIRECTORY^^
AddIcon http://localhost/_/apache-listing/icons/folder-home.png ..
AddDefaultCharset UTF-8


	AddIcon http://localhost/_/apache-listing/icons/audio.png .aif .iff .m3u .m4a .mid .mp3 .mpa .ra .wav .wma
	AddIcon http://localhost/_/apache-listing/icons/bin.png .bin
	AddIcon http://localhost/_/apache-listing/icons/c.png .c
	AddIcon http://localhost/_/apache-listing/icons/calc.png .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
	AddIcon http://localhost/_/apache-listing/icons/css.png .css
	AddIcon http://localhost/_/apache-listing/icons/deb.png .deb
	AddIcon http://localhost/_/apache-listing/icons/doc.png .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
	AddIcon http://localhost/_/apache-listing/icons/draw.png .svg
	AddIcon http://localhost/_/apache-listing/icons/eps.png .ai .eps
	AddIcon http://localhost/_/apache-listing/icons/gif.png .gif
	AddIcon http://localhost/_/apache-listing/icons/html.png .html .xhtml .shtml .htm
	AddIcon http://localhost/_/apache-listing/icons/ico.png .ico
	AddIcon http://localhost/_/apache-listing/icons/java.png .jar
	AddIcon http://localhost/_/apache-listing/icons/jpg.png .jpg .jpeg
	AddIcon http://localhost/_/apache-listing/icons/js.png .js .json
	AddIcon http://localhost/_/apache-listing/icons/markdown.png .md
	AddIcon http://localhost/_/apache-listing/icons/package.png .pkg .dmg
	AddIcon http://localhost/_/apache-listing/icons/pdf.png .pdf
	AddIcon http://localhost/_/apache-listing/icons/php.png .php
	AddIcon http://localhost/_/apache-listing/icons/png.png .png
	AddIcon http://localhost/_/apache-listing/icons/ps.png .ps
	AddIcon http://localhost/_/apache-listing/icons/psd.png .psd
	AddIcon http://localhost/_/apache-listing/icons/rar.png .rar
	AddIcon http://localhost/_/apache-listing/icons/rb.png .rb
	AddIcon http://localhost/_/apache-listing/icons/rpm.png .rpm
	AddIcon http://localhost/_/apache-listing/icons/rss.png .rss
	AddIcon http://localhost/_/apache-listing/icons/sql.png .sql
	AddIcon http://localhost/_/apache-listing/icons/tiff.png .tiff
	AddIcon http://localhost/_/apache-listing/icons/text.png .txt
	AddIcon http://localhost/_/apache-listing/icons/video.png .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv
	AddIcon http://localhost/_/apache-listing/icons/xml.png .xml
	AddIcon http://localhost/_/apache-listing/icons/zip.png .zip
	DefaultIcon http://localhost/_/apache-listing/icons/default.png

#
# THEME FILES
#

	HeaderName http://localhost/_/apache-listing/header.html
	ReadmeName http://localhost/_/apache-listing/footer.html
	IndexStyleSheet "http://localhost/_/apache-listing/style.css"
